body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('./img/bakcground.jpg') no-repeat fixed center center;
  background-size: cover;
  color: white;
}
.landing_actions {
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  width: 10rem;
}
.preloader {
  height: 100vh;
  vertical-align: center;
}
.del_icon:hover {
  cursor: pointer;
}
.action_form {
  background-color: rgba(255, 255, 255, 0.842);
  padding: 2rem;
  border-radius: 1rem;
}
.user_data_table {
  width: 80%;
  margin: 0 auto;
}
td {
  width: 20rem;
}
tbody:last-child {
  border-bottom: 1px solid white;
}
.user_data_container {
  background: rgba(0, 0, 0, 0.849);
}
.add_container {
  background: rgba(0, 0, 0, 0.849);
  padding: 1rem;
  border-bottom: 1px solid white;
}
