* {
  --see-through-white: rgba(255, 255, 255, 0.942);
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('./img/bakcground.jpg') no-repeat fixed center center;
  background-size: cover;
  color: white;
}
.nomb {
  margin-bottom: 0;
}
.landing_actions {
  background-color: var(--see-through-white);
  border-radius: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button,
.btn-landing {
  width: 10rem;
}
.btn-landing {
  padding: 0;
}
h1 {
  text-transform: capitalize;
  border-bottom: 1px solid white;
  margin: 3rem auto;
  width: 75%;
}
.del_icon:hover {
  cursor: pointer;
}
.action_form {
  background-color: var(--see-through-white);
  padding: 2rem;
  border-radius: 1rem;
}
.user_data_container {
  background: var(--see-through-white);
  border-radius: 0 0 1rem 1rem;
}
.user_data_table {
  background: transparent;
  -webkit-box-shadow: 0px 9px 11px -9px #000000;
  box-shadow: 0px 9px 11px -9px #000000;
  color: black;
  width: 80%;
  margin: 0 auto;
}
td {
  width: 15rem;
}

thead {
  border-bottom: 3px solid black;
}
tbody:last-child {
  border-bottom: 3px solid black;
}
table {
  display: block;
  max-height: 18rem;
  overflow-y: auto;
}
@media only screen and (min-width: 425px) {
  table {
    max-height: 25rem;
  }
}
.add_container {
  background: var(--see-through-white);
  padding: 1rem;
  border-bottom: 1px solid black;
  border-radius: 1rem 1rem 0 0;
}

.delete_item_button {
  width: 3rem;
}
.logout {
  margin-top: 1rem;
}
.drop-ul {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #26a699e1;
  border-top: 3px solid #26a69a;
  border-bottom: 3px solid #26a69a;
  border-radius: 0.5rem;
}
.drop-ul li {
  margin: 0.5rem;
}
.drop-container {
  position: relative;
}
.input-field {
  margin-bottom: 0;
}
.userSettings {
  color: rgb(18, 201, 161);
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
  vertical-align: center;
}
.userSettingContainer {
  border-radius: 0.5rem;
  border-top: 3px solid #26a69a;
  border-bottom: 3px solid #26a69a;
}
.input-field label {
  color: black;
}
.input-field input[type='text']:focus + label {
  color: black;
}
.action-buttons {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.fixed {
  margin: 1rem;
}
.preloader {
  margin-top: 9rem;
  padding-top: 9rem;
  background: var(--see-through-white);
  height: 25rem;
  border-radius: 0.5rem;
}
